[Unit]
Description=XBOX Controller Relay
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/robot/projects/remote-control-tank
ExecStart=/usr/bin/python3 "tank_control.py" "Xbox Wireless Controller"

[Install]
WantedBy=multi-user.target