[Unit]
Description=XBOX Controller Relay
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/projects/remote-control-tank
ExecStart=/usr/bin/python3 "xbox_relay.py" "Xbox Wireless Controller" 9600

[Install]
WantedBy=multi-user.target